body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 32px;
}


.top-header, 
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #1F2937;
    padding-top: 48px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 48px;
    
}

.header-content {
    display: flex;
    align-items: center;
    gap: 32px; 
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
}

.top-header {
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    
}

.top-container {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.top-title .top-text {
    font-size: 18px;
    color: #E5E7EB;
    
}

.top-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
    margin-right: 48px;
    
}

.right-box {
    display: flex;
    flex: 1;
}

.sign-up-button-big {
    margin: 0px;
    padding: 8px 24px 8px 24px;
    background-color: #3882F6;
    text-align: center;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
}

.body-box {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 24px;
    justify-content: center;
    text-align: center;
}

.headline {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 8px;
    text-align: center;
    margin-top: 48px;
}

.image-box {
    
    max-width: 200px;
}

.image-style {
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.text-box {
    background-color: #E5E7EB;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fancy, 
.quote-author {
    padding-left: 200px;
    padding-right: 200px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fancy {
    font-family: "light italic";
    font-size: 36px;
    color: #1F2937;
}

.quote-author {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: right;
}

.white-box {
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-box {
    display: flex;
    background-color: #3882F6;
    color:#E5E7EB;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 8px;
    max-width: 600px;
    justify-content: space-between;
    width: 100%;
    
    
}

.left-alert {
    display: flex;
    margin-left: auto;
    padding-left: 24px;
}

.sub-headline {
    font-weight: 900;
    color: #F9FAF8;
}

.sign-up-button {
    background-color: #3882F6;
    text-align: center;
    font-weight: 900;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    margin: 0px;
    padding: 8px 24px 8px 24px;
}

.footer {
    justify-content: center;
    color: #F9FAF8;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 24px;
    padding-bottom: 24px;

}

.main-image {
    width: 100%;
    min-width: 250px;
    max-width: 450px;
}

.sign-up-button, 
.sign-up-button-big {
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.quote-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;

}


